.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/assets/img/logo.png')
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        //- li(class=title=='Boundstar'?'active':undefined)
          a(href='/') Home
        if user
          li(class=title=='Rank'?'active':undefined)
            a(href='/rank') Rank
        li(class=title)
          a(href='http://forum.boundstar.com', target='_blank') Forum
        li(class=title=='Player Manager'?'active':undefined)
          a(href='/players') Players
        //- li.dropdown(class=title=='Worlds'?'active':undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown') Worlds 
            i.caret
          ul.dropdown-menu
            li: a(href='/worlds/alpha') Alpha Sector
            li: a(href='/worlds/beta') Beta Sector
            li: a(href='/worlds/delta') Delta Sector
            li: a(href='/worlds/gamma') Gamma Sector
            li: a(href='/worlds/sectorx') SectorX
        //- if user
          if user.rank = 'Player'
        li.dropdown(class=title=='Systems'?'active':undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown') Systems 
            i.caret
          ul.dropdown-menu
            li: a(href='/systems/alpha') Alpha Sector
            li: a(href='/systems/beta') Beta Sector
            li: a(href='/systems/delta') Delta Sector
            li: a(href='/systems/gamma') Gamma Sector
            li: a(href='/systems/sectorx') SectorX
        //- li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Contact
        li(class=title=='Boundstar Wiki'?'active':undefined)
          a(href='/wiki') Wiki
      if !document
        ul.nav.navbar-nav.navbar-right
          if !user
            li(class=title=='Create Account'?'active':undefined)
              a(href='/signup') Create Account
            li(class=title=='Login'?'active':undefined)
              a(href='/login') Login
          else
            li.dropdown(class=title=='Rank Manager'?'active':undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                if user.picture
                  img.profile-image(src='#{user.picture}')
                else
                  img.profile-image(src='#{user.gravatar(60)}')
                | #{user.player || user.email || user.id}&nbsp;
                i.caret
              ul.dropdown-menu
                li: a(href='/rank') Rank Card
                li: a(href='/account') Edit Profile
                li: a(href='/logout') Logout
