extends layout

block content
  .col-md-12
    .page-header
      h1 Boundstar Players
    .row
      .col-sm-2
        .well
          h1 #{players.length}
          p signups since 4/1/14
        .well
          - var player_count = 0;
          each player in players
            if player.profile.player && player.profile.rank === 'Player'
              - player_count++
          h1 #{player_count}
          p Players
        .well
          - var recruit_count = 0;
          each player in players
            if player.profile.player && player.profile.rank === 'Recruit'
              - recruit_count++
          h1 #{recruit_count}
          p Recruits
      .col-sm-10
        legend Players
        table#visits.table.table-bordered.table-striped.table-condensed
          thead
            tr
              td 
                strong Character
              td 
                strong Rank
              td 
                strong Forum
              td.visible-md
                strong Rep
              td.visible-md
                strong Posts
              td.visible-md
                strong Votes
          tbody
            each player in players
              //- p=JSON.stringify(player)
              if player.profile.player && player.profile.rank === 'Player'
                tr
                    td #{player.profile.player}
                    td #{player.profile.rank}
                    td 
                      - var forum_url = 'http://forum.boundstar.com/user/'+player.profile.forum.replace(/ /g,'-').toLowerCase();
                      a(href='#{forum_url}', target='_blank') #{player.profile.forum}
                    td.visible-md #{player.profile.forum_rep}
                    td.visible-md #{player.profile.forum_posts}
                    td.visible-md #{player.profile.thismonth_votes}
      .col-sm-10
        legend Recruits
        table#visits.table.table-bordered.table-striped.table-condensed
          thead
            tr
              td 
                strong Character
              td 
                strong Rank
              td 
                strong Forum
              td.visible-md
                strong Rep
              td.visible-md
                strong Posts
              td.visible-md
                strong Votes
          tbody
            each player in players
              //- p=JSON.stringify(player)
              if player.profile.player && player.profile.rank === 'Recruit'
                tr
                    td #{player.profile.player}
                    td #{player.profile.rank}
                    td 
                      - var forum_url = 'http://forum.boundstar.com/user/'+player.profile.forum.replace(/ /g,'-').toLowerCase();
                      a(href='#{forum_url}', target='_blank') #{player.profile.forum}
                    td.visible-md #{player.profile.forum_rep}
                    td.visible-md #{player.profile.forum_posts}
                    td.visible-md #{player.profile.thismonth_votes}