extends layout
block content
  - var vote_count = 0
  - var rep_count = 0
  - var post_count = 0
  - var explorer_count = 0;
  - var player_count = 0;
  - var recruit_count = 0;
  each player in players
    if player.player && player.rank === 'Explorer'
      - explorer_count++
    if player.player && player.rank === 'Player'
      - player_count++
    if player.player && player.rank === 'Recruit'
      - recruit_count++
    if player.thismonth_votes != undefined
      - vote_count = ( +vote_count + +player.thismonth_votes )
    if player.forum_rep != undefined
      - rep_count = ( +rep_count + +player.forum_rep )
    if player.forum_posts != undefined
      - post_count = ( +post_count + +player.forum_posts )
  //- .col-sm-12
  .page-header
    h1 Boundstar Players
  .row
    .visible-xs
      .col-xs-6
        .well
          h1.explorer #{explorer_count}
          p Explorers
      .col-xs-6
        .well
          h1.player #{player_count}
          p Players
      .col-xs-6
        .well
          h1.recruit #{recruit_count}
          p Recruits
      .col-xs-6
        .well
          p Claimed
          h1 #{vote_count}
          p votes
      .col-xs-6
        .well
          p Awarded
          h1 #{rep_count}
          p rep
      .col-xs-6
        .well
          p Posted
          h1 #{post_count}
          p times
      .col-xs-6
        .well
          h1 #{players.length}
          p signups since 4/1/14
    .visible-sm.visible-md.visible-lg
      .col-sm-3.col-md-2
        .well
          h1.explorer #{explorer_count}
          p Explorers
        .well
          h1.player #{player_count}
          p Players
        .well
          h1.recruit #{recruit_count}
          p Recruits
        .well
          p Claimed
          h1 #{vote_count}
          p votes
        .well
          p Awarded
          h1 #{rep_count}
          p rep
        .well
          p Posted
          h1 #{post_count}
          p times
        .well
          h1 #{players.length}
          p signups since 4/1/14
    .col-sm-9.col-md-10
      legend.explorer Explorers
      table#visits.table.table-bordered.table-striped.table-condensed
        thead
          tr
            td 
              strong Character
            td 
              strong Forum
            td
              strong Votes
            td.visible-md.visible-lg
              strong Rep
            td.visible-md.visible-lg
              strong Posts
            td.visible-md.visible-lg
              strong System
            td.visible-md.visible-lg
              strong Worlds
        tbody
          each player in players
            //- p=JSON.stringify(player)
            if player.player && player.rank === 'Explorer'
              tr
                td #{player.player}
                td 
                  - var forum_url = 'http://forum.boundstar.com/user/'+player.forum.replace(/ /g,'-').toLowerCase();
                  a(href='#{forum_url}', target='_blank') #{player.forum}
                td #{player.thismonth_votes}
                td.visible-md.visible-lg #{player.forum_rep}
                td.visible-md.visible-lg #{player.forum_posts}
                if player.system
                  if player.system.sector != ''
                    td.visible-md.visible-lg #{player.system.sector} #{player.system.x}, #{player.system.y}: #{player.system.planet}
                  else
                    td.visible-md.visible-lg
                  td.visible-md.visible-lg #{player.system.size}
    .col-sm-9.col-md-10
      legend.player Players
      table#visits.table.table-bordered.table-striped.table-condensed
        thead
          tr
            td 
              strong Character
            td 
              strong Forum
            td.visible-md.visible-lg
              strong Votes
            td.visible-md.visible-lg
              strong Rep
            td.visible-md.visible-lg
              strong Posts
        tbody
          each player in players
            //- p=JSON.stringify(player)
            if player.player && player.rank === 'Player'
              tr
                td #{player.player}
                td 
                  - var forum_url = 'http://forum.boundstar.com/user/'+player.forum.replace(/ /g,'-').toLowerCase();
                  a(href='#{forum_url}', target='_blank') #{player.forum}
                td #{player.thismonth_votes}
                td.visible-md.visible-lg #{player.forum_rep}
                td.visible-md.visible-lg #{player.forum_posts}
    .col-sm-9.col-md-10
      legend.recruit Recruits
      table#visits.table.table-bordered.table-striped.table-condensed
        thead
          tr
            td 
              strong Character
            td 
              strong Forum
            td
              strong Votes
            td.visible-md.visible-lg
              strong Rep
            td.visible-md.visible-lg
              strong Posts
        tbody
          each player in players
            //- p=JSON.stringify(player)
            if player.player && player.rank === 'Recruit'
              tr
                td #{player.player}
                td 
                  - var forum_url = 'http://forum.boundstar.com/user/'+player.forum.replace(/ /g,'-').toLowerCase();
                  a(href='#{forum_url}', target='_blank') #{player.forum}
                td #{player.thismonth_votes}
                td.visible-md.visible-lg #{player.forum_rep}
                td.visible-md.visible-lg #{player.forum_posts}