if document
  doctype html
  html(lang="en")
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='description', content='')
      meta(name='csrf-token', content=token)
      meta(name='author', content='')
      title #{title} | Boundstar - Starbound Server
      script(src='https://code.jquery.com/jquery-2.1.0.min.js')
      script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
      script(src='/assets/js/jquery.backstretch.min.js')
      script.
        $(function($){
          $.backstretch("/assets/img/bg.png", {speed: 1000});
        });
    //-   - var scripts = getBlock('scripts')
    //-   - var styles = getBlock('styles')
    //-   != styles.toHTML()
    //-   != scripts.toHTML()
    style.
      #content {
        font-family: "Montserrat", serif;
      }
      .starnav {
        position: fixed;
        left: 0;
        bottom: 10px;
        width: 180px;
        z-index: 1;
      }
      .starnav a {
        margin-bottom: 3px;
        text-decoration: none;
        float: left;
        display: block;
        background: url(/assets/img/buttonsprite.png);
        height: 22px;
        width: 180px;
        padding: 2px 15px;
        color: white;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
      }
      .starnav a:hover {
        color: white;
        background-position: 0 -22px;
      }
    <link rel="stylesheet" href="/assets/styles-52a7c1b56d60e9de219524c175c986fc.css" />
  body
  .starnav
    each doc in getCollection('documents').toJSON()
      if doc.navigation != false
        a(href=doc.url)= doc.title
      //- - clazz = (document.url === doc.url) ? 'active' : null
      //- li(typeof="sioc:Page", about=doc.url, class=clazz)
#wrap
  include partials/navigation
  include partials/sidebar
  #page-content-wrapper
    <!-- Keep all page content within the page-content inset div! -->
    .page-content.inset

      .container
        if !document
          include partials/flash
          block content
        else
          .col-sm-12
            section#content.content!= content
            br
            p
              a(href='https://github.com/digitaldesigndj/boundstar-content/edit/master/' + document.relativePath.replace('docs/','') ).text-info Edit and improve this page via GitHub!
              |  - or - 
              a(href='http://prose.io/#digitaldesigndj/boundstar-content/edit/master/' + document.relativePath.replace('docs/','') ).text-info Edit and improve this page via Prose!
style.
  .recruit { color: #efc94c; }
  .player { color: #45b29d; }
  .explorer { color: #334d5c; }
script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42766222-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
//- script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
script(src='//boundstar.com/status/socket.io/socket.io.js')
-var json_profiles = [];
script
  | var profiles =
  each profile, i in profiles
    - var public_profile = {};
    - public_profile.player = profile.profile.player
    - public_profile.rank = profile.profile.rank
    - json_profiles.push(public_profile);
  !=JSON.stringify(json_profiles)
  |;
script.
  var setPlayersOnline = function( players ) {
    $('#players li').remove();
    $('#numOnline').html( players.length );
    players = players.sort();
    $.each( players, function( key, val ) {
      var exported = false;
      var player_name = removeColorCodes( val );
      $.each( profiles, function( i, profile ) {
        console.log( profile.player );
        if( player_name === profile.player ) {
          exported = true;
          $('#players').append(
            '<li class="'+profile.rank.toLowerCase()+'">'+profile.player+'</li>'
          );
        }
      });
      if( exported === false ) {
        $('#players').append(
          '<li>'+player_name+'</li>'
        );
      }
    });
  };
  var removeColorCodes = function( str ) {
    newStr = str.replace(/\^[\s\S]*;/,'','g');
    return newStr;
  };
  var apiBase = 'http://boundstar.com:88/';
  var socket = io.connect(apiBase);
  socket.on('playerCount',function(data){
    setPlayersOnline( data.playersOnline );
    console.log( data.playersOnline );
  });
  request = new XMLHttpRequest
  request.open('GET', apiBase + 'server/status', true)
  request.send()
  request.onload = function() {
    data = JSON.parse(this.response);
    setPlayersOnline(  data.playersOnline );
    console.log( data );
  }
  request.onerror = function() {}