extends layout

block content
  //- p=JSON.stringify(servers)
  //- p=JSON.stringify(admins)
  if user
    if user.profile.player
      .col-md-8
        .page-header
          h1 Hello #{user.profile.player}
        p.lead Welcome to the next Boundstar
        h4 Your 
          a(href='/rank') Rank
          |  is 
          strong #{user.profile.rank}
        case user.profile.rank
          when "Recruit"
            p You need 1 rep, 1 post and 1 vote to rank up to Player.
          when "Player"
            p You need 5 rep, 5 posts and 3 votes to rank up to Explorer.
          when "Explorer"
            p You are at the top rank for now.
            if user.profile.system_coords == ""
              p You should claim a system.
      .col-md-4
        legend Ranks
        ol
          li Recruit
          li Player
          li Explorer
          li Member*
          li Builder*
          li Modder*
          li Creator/Artisan*
        p *coming soon
      //- .row
        .well.col-sm-2#connections
            h3 Right Now
            p 
              span#numOnline
            h5 active players
        .col-sm-10
          legend Rank
          table#visits.table.table-bordered.table-striped.table-condensed
            thead
              tr
                td #{user.profile.rank}
            tbody
          legend Worlds
          table#pageViews.table.table-bordered.table-striped.table-condensed
            thead
              tr
                td Sector
                td Coordinates
            tbody
    else
      .col-sm-12
        h1 Thanks for joining us Recruit!
        p 
          span.text-info You have been granted access to a new server
          | , use the password below to login.
        p Your adventure begins with a little setup, you will also need to make a post on the forum and socialize a bit with us.
        p You should go to your 
          a(href='/account') profile
          |  and set your player and forum names. This will link your votes, posts and forum reputation to your Boundstar player profile. Once you have done that go check out your 
          a(href='/rank') rank card
          | .
      .col-sm-2
        a(href='/account').btn.btn-primary Profile
      .col-sm-2
        a(href='http://forum.boundstar.com').btn.btn-primary Forums
      .col-sm-2
        a(href='/rank').btn.btn-primary Rank Card
      .clearfix
  else
    .col-md-8
      .page-header
        h1 Welcome to Boundstar
      p.lead A new era has started
      p Server name: 
        strong boundstar.com
        |  and connect with your Starbound client, no password needed.
      p When you first register, you will become a Recruit. Your mission as a recruit is to get your profile setup and become a player.
      ol 
        li Login to the server!
        li Create and link a forum account.
        li Get 1 forum reputation.
        li Make 1 forum post.
        li Vote on server-lister.
        li Set your main character name.
      p After you complete all these tasks, you will rank up to Player! This will lock your player and forum name. (you can still change your forum name, not recommended because you will lose your rep & posts).
      br
      .col-sm-2
        a(href='/signup').btn.btn-success Register
      .col-sm-2
        form(action='https://www.paypal.com/cgi-bin/webscr'. method='post'. target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='9HGYPBBJV8954')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
      .col-sm-2
        a(href='http://forum.boundstar.com').btn.btn-primary Forums
      .col-md-4
        script(src='http://starbound-servers.net/embed.js?id=313&type=votes&size=small')
      .clearfix
    .col-md-4
      .page-header
        h3 Donators
      p Thanks to all of our supporters
        ul
          li Munlock
          li many more
      .page-header
        h3 Ranks
      ol
        li Recruit
        li Player
        li Explorer*
        li Member*
        li Builder*
        li Modder*
        li Creator/Artisan*
      p *coming soon

  if servers
    .clearfix
    .col-md-12
      .page-header
        h2 Servers
    each server, i in servers
      //- h1=JSON.stringify( server )
      if admins[i].starbound_password == ''
        .col-md-4
          case server.ip_address
            when '107.170.30.45'
              img(src='http://starrydex.com/img/ApeFlu.svg' style='max-width:100%;')
            when '107.170.56.96'
              img(src='http://starrydex.com/img/BoundStar.svg' style='max-width:100%;')
            when '107.170.45.151'
              img(src='http://starrydex.com/img/Crash.svg' style='max-width:100%;')
            default
              img(src='http://starrydex.com/img/TinyTower.svg' style='max-width:100%;')
          .page-header
            h2 #{server.ip_address}
          if server.ip_address == '107.170.30.45'
            p Members Only - 
              a(href='/signup') Register
              |  to get the password.
          else
            p Public
          case server.size_id
            when 61
              p 8 core VPS
            when 65
              p 4 core VPS
            default
              p 2 core VPS
          if server.ip_address == '107.170.56.96'
            p(style='color:black')
              input(value='boundstar.com',style='width:120px;',onclick='this.select()')
          else
            p(style='color:black')
              input(value='#{server.ip_address}',style='width:120px;',onclick='this.select()')
          if server.ip_address == '107.170.56.96'
            p
              a(href='http://boundstar.com/') Web Site
          p
            a(href='http://#{server.ip_address}') CommandStar
      else
        if server.ip_address == '107.170.30.45'
          .col-md-4
            case server.ip_address
              when '107.170.30.45'
                img(src='http://starrydex.com/img/ApeFlu.svg' style='max-width:100%;')
              when '107.170.56.96'
                img(src='http://starrydex.com/img/BoundStar.svg' style='max-width:100%;')
              when '107.170.45.151'
                img(src='http://starrydex.com/img/Crash.svg' style='max-width:100%;')
              default
                img(src='http://starrydex.com/img/TinyTower.svg' style='max-width:100%;')
            .page-header
              if server.ip_address == '107.170.30.45'
                h2 Private
              else
                h2 #{server.ip_address}
            //- p Private, register to get password
            if user
              if user.profile
                if user.profile.rank != ''
                  p Password: 
                    strong.text-info #{admins[i].starbound_password}
            else
              if server.ip_address == '107.170.30.45'
                p Members Only - 
                  a(href='/signup') Register
                  |  to get the password.
            case server.size_id
              when 61
                p 8 core VPS
              when 65
                p 4 core VPS
              default
                p 2 core VPS
            if user
              if user.profile
                if user.profile.rank != ''
                  if server.ip_address == '107.170.56.96'
                    p(style='color:black')
                      input(value='boundstar.com',style='width:120px;',onclick='this.select()')
                  else
                    p(style='color:black')
                      input(value='#{server.ip_address}',style='width:120px;',onclick='this.select()')
            if server.ip_address == '107.170.56.96'
              p
                a(href='http://boundstar.com/') Web Site
            p
              a(href='http://#{server.ip_address}') CommandStar

