extends layout

block content

  //- p=JSON.stringify(players)
  //- a(href='/server/#{user.server}') &laquo; Return to Server Manager
  
  .page-header
    h2 #{title}
  p We have seen 
    strong #{players.length}
    |  players
    each player in players
      .col-sm-3
        p 
          a(href='/player/#{player.name}') #{player.name.replace(/\^[\s\S]*;/,'','g')}