<!DOCTYPE html>
<html>
	<head>
		<title><%= user %>'s <%= title %></title>
		<link rel='stylesheet' href='/style/style.css' />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
		<h1><%= user %>'s Profile</h1>
		<img src="/<%= user %>_profile.<%= extension %>" style="width:100%" />
	</body>
</html>