extends layout

block content

  if user
    if user.profile.player
      .page-header
        h1 #{user.profile.player}'s Rank Card
      if forum_stats
        p
          a(href='http://forum.boundstar.com/user/#{user.profile.forum.toLowerCase()}') Forum Profile: #{user.profile.forum}
      .well.col-md-4#connections
        h3 Rank
        p 
          span(style='font-size:48px') #{user.profile.rank}
        h5 getting started
      if forum_stats
        if forum_stats.posts 
          .well.col-md-2#connections
            h3 Forum Posts
            p 
              span(style='font-size:48px') #{forum_stats.posts}
            h5 posts
          if forum_stats.rep 
            .well.col-md-2#connections
              h3 Forum Reputation
              p 
                span(style='font-size:48px') #{forum_stats.rep}
              h5 rep
          else
            .well.col-md-2#connections
              h3 Forum Reputation
              p 
                span(style='font-size:48px') 0
              h5 rep
        else
          h3 Forum Posts
            p 
              span(style='font-size:48px') 0
            h5 posts
          p.text-warning If the profile link above does not work, you need to change your 
            a(href='http://forum.boundstar.com') forum name 
            | to match what you see on 
            a(href='http://forum.boundstar.com/users/latest') this page
      - var voted = false
      if votes
        each vote, i in votes
          if user.profile.player == vote.nickname
            - voted = true
            .well.col-md-2#connections
              h3 Server Votes
              p 
                span(style='font-size:48px') #{vote.votes}
              h5 votes this month
            if user.profile.rank == 'Recruit'
              if forum_stats.posts
                if forum_stats.rep
                  .clearfix
                  hr
                  p Eligible for upgrade!
                  p.text-warning This will lock your player and forum name, and allow you access to the boundstar address system (coming soon).
                  p 
                    form(action='/rank', method='POST')
                      input(type='hidden', name='_csrf', value=token)
                      //- input(type='hidden', name='size', value='65')
                      button.btn.btn-primary(type='submit') Upgrade to Player
                //- if forum_stats.posts > 0 && forum_stats.rep > 0 && vote.votes > 0

        if voted === false
          .well.col-md-2#connections
              h3 Votes
              p 
                span(style='font-size:48px') 0
              h5 votes this month
          .clearfix
          hr
          p.text-warning You need at least 1 vote to upgrade! Use your player name like you see in the corner (no email addresses).
          script(src='http://starbound-servers.net/embed.js?id=313&type=votes&size=small')
      if user.profile.rank == 'Player'
        .well.col-md-2#connections
          h3 World Saves
          p 
            span(style='font-size:48px') 0
          h5 coming soon

      //- if users
        p=JSON.stringify(users)
    else
      h1 Go to your 
        a(href='/account') profile
        |  and set your player name!
    //- else
      p You need to 
        button register your player

  if user.profile.rank != 'Recruit'
    .clearfix
    br
    .page-header
      h2 Your Worlds
    if user.profile.player != ''
      if worlds
        //- p=JSON.stringify(worlds)
        each world in worlds
          if world.owner == user.profile.player
            .col-sm-6
              //- p!=JSON.stringify(world)
              h3 #{world.nickname}
              p #{world.name}
              p #{world.system}
              p #{world.owner}
              p #{world.description}
              p
                a(href='/world/#{world.world_coords}')
                  span.label.label-warning #{world.world_coords}
              p
              if world.saves
                p.text-warning 
                  span.badge #{world.saves.length}
                  if world.saves.length == '1'
                    |  Restore Point
                  else
                    |  Restore Points 
